force-app/main/default/flows/Error_Handling_by_Admin.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Error_Handling_by_Admins</name>
        <label>Error Handling by Admins</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>finalList</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Please check the Error</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Please check the Error Message : {!ErrorMessage}</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>ListofEmails</name>
        <label>ListofEmails</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>EmailLists</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>getEmailListss.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getEmailListss</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Lists</name>
        <label>Lists</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>finalList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmailLists</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Handling_by_Admins</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Error Handling by Admin {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Error Handling by Admin</label>
    <loops>
        <name>getEmailListss</name>
        <label>getEmailListss</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>EmailList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ListofEmails</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Lists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AdminEmails</name>
        <label>AdminEmails</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getEmailListss</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e0o000002j1OnAAI</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>EmailList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>AdminEmails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>EmailList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EmailLists</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
